body {

  background-image: url('red_gingham.jpg');
    background-repeat: repeat-xy;

}

.pagecontents{

  padding: 20px;
  background-color: #FDDCC1;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  font-family: verdana;
  color: #004500;

}

ul{

list-style: none

}

a{
  font-family: verdana;
  font-size: 17px;
  text-decoration: none;
}

a:visited {

color: #004500;

}

a:link {

color: #004500;

}

a:visited {

color: #004500;

}

h1 {
  font-family: verdana;
  font-size: 40px;
  color: #004500;
}

h2 {
  font-family: verdana;
  font-size: 30px;
  color: #004500;

}
